body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 252, 252);
}
main.principal{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px 50px;
  background-color: black;
  heigth: auto;
  
  
 
}

form.formulario{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height:400px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(250, 248, 248);
  border-radius: 20px;
  padding: 30px 20px;
  gap: 20px;
 
}
h1{
  color: white;
}
button#btn{
  width:100%;
  max-width: 309px;
  height: 30px;
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
}
li{
  background-color: green;
  padding: 30px;
  list-style: none;
  text-align: center;
  border: 1px solid black;
  margin-top: 20px;
}
input, label{
  height: 25px;
  width: 100%;
  max-width: 300px;
  outline: none;
}
input{
   background-color: black;
  border: 0.1px solid rgb(69, 248, 15);
  border-left: none;
  border-right: none;
  border-top:none;
  color: white;
  
}

::placeholder{
  color: rgb(250, 248, 248);
  font-size: 15px;
}

span.erro.vermelho{
  color: red;

}
ul.navbar{

 width: 100%;
 height: 500px;
 display: flex;
 gap: 10px;

}


a.whatsapp{
  text-decoration: none;
  background-color: green;
  padding:10px;
  width: 100%;
  text-align: center;
  max-width: 300px;
  color:white;
  font-weight: 900;
  margin-top: 20px;
  outline: none;
}
@media (max-width:700px) {
  main.principal{
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    heigth: auto;
  }
  
}
